div{
    background-color: $dark-bg;
    border: $border-color solid 2px;
    padding: $padding;
}

#get-ip-div{
    width: auto;
    height: auto;
    display: flex; 
    align-items: center; 
    justify-content: center;
}

#result{
    margin-top: 20px;
    width: auto;
    text-align: start;
}

@media screen and (max-width: 560px) {
    #get-ip-div{
        display: flex; 
        flex-direction: column-reverse;
        align-items: center; 
    }

    #result{
        width: auto;
       
    }
}